*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#adam{
    height: 100%;
    width: 100%;
}
#nav{
    height: 13%;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: antiquewhite;
}
#fake-nav{
    height: 13%;
    width: 100%;
}
#nav-img{
    margin: 24px;
    margin-left: 40px;
}
.nav-links{
    height: 50px;
    width: 90px;
    margin: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: rgb(3, 45, 96);
}
.no-underline{
    text-decoration: none;
}
.nav-links:hover{
    height: 50px;
    width: 90px;
    margin: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: rgb(1, 118, 211);
}
.nav-bar-contact-us{
    color: rgb(3, 45, 96);
    font-weight: lighter;
}
.nav-bar-contact-us:active{
    color: rgb(1, 118, 211);
    font-weight: lighter;
}
#page1{
    height: 87%;
    width: 100%;
    background-color: blueviolet;
}
#page2{
    height: 87%;
    width: 100%;
    background-color: rgba(38, 5, 69, 0.35);
}
#contact-link{
    margin-top: 25px;
    margin-left: 150px;
    width: 150px;
    text-align: center;
    font-family:sans-serif ;
}
.icon{
    height: 35px;
    width: 35px;
    margin-right: 15px;
    margin-top: 27px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    height: 35px;
    width: 35px;
    margin-right: 20px;
    margin-top: 27px;
    border-radius: 20px;
    background-color: rgb(197, 221, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-user-login-icon{
    height: 30px;
}
#login{
    display: flex;
    margin-right: 21px;
    margin-top: 24px;
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}
#login:hover{
    display: flex;
    margin-right: 21px;
    margin-top: 24px;
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(197, 221, 241);
}
#try-button{
    background-color: rgb(46, 132, 74);
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    cursor: pointer;
    font-weight: bolder;
    color: aliceblue;
    font-size: large;
}
#try-button:hover{
    background-color: rgb(28, 51, 38);
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
}